<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Tarefas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-checkbox>Varrer a casa</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Fazer macarrão</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Desenvolver o app de tarefas</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Lavar roupas</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
